HOME_ASSISTANT_URL=http://localhost:8123
HOME_ASSISTANT_TOKEN=replace_with_home_assistant_long_lived_access_token
SONOFF_SENSOR_ID=sonoff_1
SONOFF_TEMPERATURE_ENTITY=sensor.replace_with_temperature_entity
SONOFF_HUMIDITY_ENTITY=sensor.replace_with_humidity_entity

